@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container .box
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #fff;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before
{
    content: "Damn";
    position: absolute;
    top: 20px;
    left: 0px;
    font-size: 5em;
    font-weight: 900;
    color: #000000;
    font-style: italic;
    opacity: 0;
}

.container .box::after
{
    content: "boii";
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 4em;
    font-weight: 900;
    color: #232323;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after
{
    opacity: 0.1;
}

.container .box .name
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #232323;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .name
{
    top: 40px;
    opacity: 1;
}

.container .box .buy
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .buy
{
    bottom: 30px;
    opacity: 1;
}

.container .box .circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 12;
    opacity: 00;
    transform: translate3d(-50%, -50%, 0px);
}

.container .box:hover .circle
{
    opacity: 1;
}

.container .box .product
{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 10px);
}

.container .box:hover .product
{
    transform: translate3d(-50%, -50%, 100px);
}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy
{
    background: #14e65a;
}

.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy
{
    background: #131313;
}

.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy
{
    background: rgb(159, 201, 44);
}