@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 100vh;
    background: #350048;
}

section::before
{
    content: '';
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 50px;
    background: #bd00ff;
}

.container
{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .card
{
    position: relative;
    width: 250px;
    height: 300px;
    text-align: center;
    z-index: 10;
    margin: 20px 20px 60px;
}

.container .card .box
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
    border-radius: 10px;
}

.percent
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
}

.percent .number
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent .number h2
{
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

.percent .number h2 span
{
    font-size: 24px;
}

.text
{
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px 20px 10px;
    background: #f00;
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    z-index: 12;
    color: #fff;
}

svg
{
    display: none;
}